<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458621965407-tp5lu1ut7vccvnou8igh4kv0so4g9e0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458621965407-tp5lu1ut7vccvnou8igh4kv0so4g9e0r</string>
	<key>API_KEY</key>
	<string>AIzaSyAK1oN9ebcNYxxa9oxxTcH12_em0dX6ZA0</string>
	<key>GCM_SENDER_ID</key>
	<string>458621965407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.utas.cbarr0.babytracker.babyTrackerFlutter</string>
	<key>PROJECT_ID</key>
	<string>kit305-e951e</string>
	<key>STORAGE_BUCKET</key>
	<string>kit305-e951e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458621965407:ios:fd4306bf7576efcdccb7ea</string>
</dict>
</plist>